################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrogsProblem/bin/x64/Debug
/FrogsProblem
/FrogsProblem/bin
/FrogsProblem/bin/Debug
/FrogsProblem/bin/Debug/FrogsProblem.vshost.exe.manifest
/FrogsProblem/bin/x64/Debug/FrogsProblem.exe.config
/FrogsProblem/bin/x64/Debug/FrogsProblem.vshost.exe.config
/FrogsProblem/bin/x64/Debug/FrogsProblem.vshost.exe.manifest
/FrogsProblem/obj/x64/Debug
/FrogsProblem/obj/x64/Debug/FrogsProblem.csproj.FileListAbsolute.txt
/FrogsProblem/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FrogsProblem/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FrogsProblem/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NQueensProblem
/NQueensProblem/bin/Debug
/NQueensProblem/bin/Debug/NQueensProblem.exe.config
/NQueensProblem/bin/Debug/NQueensProblem.vshost.exe.config
/NQueensProblem/bin/Debug/NQueensProblem.vshost.exe.manifest
/NQueensProblem/obj/Debug
/NQueensProblem/obj/Debug/NQueensProblem.csproj.FileListAbsolute.txt
/NQueensProblem/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NQueensProblem/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NQueensProblem/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages
/packages/Elders.PowerCollections.1.0.0
/packages/Elders.PowerCollections.1.0.0/lib
/packages/Elders.PowerCollections.1.0.0/lib/net20
/packages/Elders.PowerCollections.1.0.0/lib/net20/ClassLibrary2.xml
/packages/Elders.PowerCollections.1.0.0/lib/net30
/packages/Elders.PowerCollections.1.0.0/lib/net30/ClassLibrary2.xml
/packages/Elders.PowerCollections.1.0.0/lib/net35
/packages/Elders.PowerCollections.1.0.0/lib/net35/ClassLibrary2.xml
/packages/Elders.PowerCollections.1.0.0/lib/net45
/packages/Elders.PowerCollections.1.0.0/lib/net45/ClassLibrary2.xml
/packages/Elders.PowerCollections.1.0.0/lib/net451
/packages/Elders.PowerCollections.1.0.0/lib/net451/ClassLibrary2.xml
/packages/Elders.PowerCollections.1.0.0/lib/net452
/packages/Elders.PowerCollections.1.0.0/lib/net452/ClassLibrary2.xml
/packages/Elders.PowerCollections.1.0.0/lib/net46
/packages/Elders.PowerCollections.1.0.0/lib/net46/ClassLibrary2.xml
/packages/Elders.PowerCollections.1.0.0/Elders.PowerCollections.1.0.0.nupkg
/packages/repositories.config
/SlidingBlocks
/SlidingBlocks/bin/Debug
/SlidingBlocks/bin/Debug/ClassLibrary2.xml
/SlidingBlocks/bin/Debug/SlidingBlocks.exe.config
/SlidingBlocks/bin/Debug/SlidingBlocks.vshost.exe.config
/SlidingBlocks/obj/Debug
/SlidingBlocks/obj/Debug/SlidingBlocks.csproj.FileListAbsolute.txt
/SlidingBlocks/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SlidingBlocks/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SlidingBlocks/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/KnapsackProblem/obj/Debug
/KnapsackProblem/bin/Debug
